 :root {--bd-gradient:linear-gradient(rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7));}
.h1 {
padding-top: 350px;
margin-bottom: 40px;
text-align: center;
color:white;
margin-top: 0;
}
.h2{
color: rgb(200, 233, 235);
text-align: center;
width: 800px;
margin: 0 auto;
}
/* .h{
    text-align: center;
        padding-left: 200px;
            padding-right: 200px;
} */
    
.mainHome{
    background-color: dimgray;
    height: 1000px;
    background-repeat: no-repeat;
        max-width: 1440px;
        background-position: center;
        background-size: cover;
    background-image:var(--bd-gradient), url("https://ftp.goit.study/img/cars-test-task/mercedes_slk_class.jpeg");
}  