 svg {
    width: 18px;
    height: 18px;

}

g {stroke-width: 1.5px;
     stroke: rgba(255, 255, 255, 0.8); 
     /* fill: #3470ff; */
      /*  stroke-width: 1px;*/
        /* stroke: #3470ff; 
     */
}
 .btn-heard-icone:hover g,
 .btn-heard-icone:focus g {
     fill: #3470ff;
     stroke-width: 1px;
     stroke: #3470ff;
 }



 .btn-heard-icone g {
     /* fill: #34ffaa; */
    stroke-width: 1.5px;
        stroke: rgba(255, 255, 255, 0.8);
 }




/* .btn-heard-icone:hover g,
.btn-heard-icone:focus g {
    fill: #3470ff;
    stroke-width: 1px;
    stroke: #3470ff;
}  */

/* 
.btn-heard-icone g {
    fill: #3470ff;
        stroke-width: 1px;
        stroke: #3470ff;
} */

svg {
    width: 18px;
    height: 18px;
}

/* g {
    stroke-width: 1.5px;
    stroke: rgba(255, 255, 255, 0.8);
}

.btn-heard-icone:hover g,
.btn-heard-icone:focus g,
.btn-heard-icone g {
    fill: #3470ff;
    stroke-width: 1px;
    stroke: #3470ff;
}


 */

