 svg {
    width: 18px;
    height: 18px;

}

g {
    stroke-width: 1.5px;
        stroke: rgba(255, 255, 255, 0.8);
    
}

.btn-heard-icone:hover g {
    fill: #3470ff;
    stroke-width: 1px;
    stroke: #3470ff;
} 


.btn-heard-icone.favorite g {
    fill: #3470ff;
        stroke-width: 1px;
        stroke: #3470ff;
}

svg {
    width: 18px;
    height: 18px;
}

g {
    stroke-width: 1.5px;
    stroke: rgba(255, 255, 255, 0.8);
}

.btn-heard-icone:hover g,
.btn-heard-icone:active g,
.btn-heard-icone.favorite g {
    fill: #3470ff;
    stroke-width: 1px;
    stroke: #3470ff;
}




