 svg {
    width: 18px;
    height: 18px;

}

g {
/* fill: #3470ff;*/
        /* stroke-width: 1px;
        /* stroke: #3470ff; */
    /* stroke-width: 1.5px;
        stroke: rgba(255, 255, 255, 0.8);  */
}

 /* .btn-heard-icone:hover g ,
 .btn-heard-icone:focus g
 {
    fill: red;
    stroke-width: 1px;
    stroke: red;
}   */

/* .btn-heard-icone:hover svg,
.btn-heard-icone:focus svg {
    fill:red;
    stroke-width: 1px;
    stroke: red;
} */


.btn-heard-icone g {
    /* fill: #3470ff;
    stroke-width: 1px;
    stroke: #3470ff; */
}

/* 
.btn-heard-icone:focus g {
    fill: #3470ff;
        stroke-width: 1px;
        stroke: #3470ff;
} */



g {
    /* stroke-width: 1.5px;
    stroke: rgba(255, 255, 255, 0.8); */
}

/* .btn-heard-icone:hover g,
.btn-heard-icone:focus-visible g,
 g {
    fill: #3470ff;
    stroke-width: 1px;
    stroke: #3470ff;
} */




