@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: "Manrope",
    "Montserrat",
    "Inter",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Manrope",
    "Montserrat",
    "Inter",
    sans-serif;
}
